h1 {
    color: #081472;
    font-weight: normal;
    font-size: 24px;
    margin: .8em 0 .3em 0;
}

h2 {
    color: #081472;
    font-weight: normal;
    font-size: 20px;
    margin: .8em 0 .3em 0;
}