/* LIST */

.list table {
    border-collapse: collapse;
     background: #FFCA70;
}
.list th, .list td {
    border-left: 1px solid #ddd;
    
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

ul,ol {
	list-style: none;
}
